extends layout

block content
    div(id="wrapper")
        div(id="dessertblock")
            img(class="dessertsimage" src=images.desserts["dessert1"])
            img(class="dessertsimage" src=images.desserts["dessert2"])
            img(class="dessertsimage" src=images.desserts["dessert3"])