extends layout

block content
    h2 Desserts
    div(id="dessertsDiv")
        ul(id="dessertsUL")
            each val in images.desserts
                li(id="dessertsLI")
                    img(id="dessertsimage" src=val[0])
                    div(id="dessertsText")    
                        h3=val[1]
                        h5=val[2]