extends layout

block map
    div(id='directionsTitle') Directions
    div(id='map')
    script.
      function initMap() {
        var uluru = {lat: 40.775440, lng: -111.913431};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTz9R24SV5TucbVLq-_1D2TMi6ILELg60&callback=initMap")