extends layout

block content
  h2 Homepage!
  p(id="introtext") Welcome to Mediocre Burger, home of the world's most mediocre burgers.
  div(id="wrapper")
    div(id="burgerblock")
      a(href="/burgers")
        img(class="homepageimage" src=images.homepage["burger"])      
      p(id="homepageP") Here we have some really mediocre burgers
    div(id="sliderblock")
      a(href="/slides")
        img(class="homepageimage" src=images.homepage["slider"])
      p(id="homepageP") We also offer some mediocre sliders
    div(id="dessertblock")
      a(href="/desserts")
        img(class="homepageimage" src=images.homepage["dessert"])
      p(id="homepageP") Our desserts are also mediocre
  