doctype html
html
    head
      link(href='style.css', rel='stylesheet')
      link(href='https://fonts.googleapis.com/css?family=Raleway', rel='stylesheet')
    body
        header
          div(id="headertop")
            span(id="logo") MediocreBurger
          div(id="navbar")
        div(id='content')
          block content  

    footer
      span 2017       