doctype html
html
    head
      link(href='style.css', rel='stylesheet')
      link(href='https://fonts.googleapis.com/css?family=Raleway', rel='stylesheet')
      block title
    body
        header
          div(id="headertop")
            a(id="logo" href="/") MediocreBurger
          div(id="navbar")
            nav
              ul
                each item in config.menu
                  li
                    a(href=item[1] class="navbutton") #{item[0]}
        div(id='content')
          block content
    block map
    footer
      div(id='footerContent')
        span &copy;2017 MediocreBurgers
