doctype html
html
    head
      link(href='style.css', rel='stylesheet')
    body
        header
          div(id="headertop")
          div(id="navbar")
        div(id='content')
          block content  
        
    footer
      span 2017       