body {
  margin: 0px;
  font-family: 'Raleway', sans-serif;
}

#headertop {
  background: #ED0C00;
  height: 60px;
  text-align: center;
  display:table;
  width:100%;
}

#logo {
  display: table-cell;
  vertical-align: middle;
  font-size: 28pt;
  color: white;
}

#navbar {
  background: #C22425;
  height: 30px;
  color: white;
}

footer {
  background: linear-gradient(0deg, #2E2F91, #466BDE);
  height: 50px;
  position: absolute;
  color:white;
  text-align: center;
  display:table;
  left:0;
  bottom:0;
  width: 100%;
}

#footerContent {
  display: table-cell;
  vertical-align: middle;
}