body {
    margin: 0px;
    font-family: 'Raleway', sans-serif;
}

#headertop {
    background: #ED0C00;
    height: 60px;
    text-align: center;
    display:table;
    width:100%;
}

#logo {
    display: table-cell;
    vertical-align: middle;
    font-size: 28pt;
    color: white;
}

#navbar {
    background: #C22425;
    height: 30px;
    color: white;
}

#map{
    height: 400px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-style: solid;
    border-width: medium;
}

#directionsTitle{
    margin-top: 20px;
    text-align: center;
    font-size: 24px;
}

#dessertsUL{
    list-style-type: none;
    display: list-item;
}

#dessertsLI{
    display: inline-block;
    margin: 20px;
    width: 500px;
}

#dessertsimage {
    width:150px;
    height:150px;
    margin: 10px;
    display:inline;
    float: left;

}

#dessertsText{
    display:inline;
    display: block;
    float: left;
    text-align: left;

}

#dessertsDiv{
    margin: auto;
    max-height: 500px;
} 

footer {
    background: linear-gradient(0deg, #2E2F91, #466BDE);
    height: 50px;
    position: absolute;
    color:white;
    text-align: center;
    display:table;
    left:0;
    bottom:0;
    width: 100%;
}

#footerContent {
    display: table-cell;
    vertical-align: middle;
}
h2{
    text-align: center;
}
#introtext{
    text-align: center;
}
#dessertblock, #burgerblock, #sliderblock {
    width: calc(100%/3); 
    min-width: 200px;
    display:inline-block;
    text-align:center;
}

#homepageP{
    min-width: inherit;
}

.homepageimage {
    display: inline;
    max-width:calc(100%/1.1); 
    width: auto;
    height: auto;
}
